@import '../../../styles/SassStylesConfig/variables';

.partner-banner {
  flex-basis: 100vw;
  padding: 6px;
  line-height: 24px;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
}
